.dropdown {
  width: 200px;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: rgb(88, 88, 88) !important;
  color: white !important;
  width: 50px !important;
}

.css-182didf.css-182didf.css-182didf {
  background-color: rgb(88, 88, 88) !important;
  color: white !important;
  width: 50px !important;
}
