.pagination {
  position: fixed;
  bottom: 0px;
  left: 1rem;
  right: 1rem;
  z-index: 3;
  overflow: hidden;

  background-color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  @media (min-width: 1280px) {
    left: 10%;
    right: 10%;
  }
}
// mui pagination width and justify-content  was not working so we needed  to stlye mui pagination classname
.css-0 {
  width: 350px !important;
}
.css-ikzlcq {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
}
