.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 24px;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    display: grid;
  }
  .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .yoda {
      width: 15rem;
      height: 15rem;
    }
  }
}
