.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: linear-gradient(
    90deg,
    rgba(211, 26, 220, 1) 0%,
    rgba(65, 29, 253, 1) 100%
  );
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px black;
  padding: 1rem;
  font-size: 16px;
  font-weight: 800;
  color: white;

  @media (max-width: 520px) {
    width: 300px;
    .carousel {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .carousel {
    padding-left: 4rem;
    padding-right: 4rem;

    .media2 {
      height: 20rem;
      overflow: hidden;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.3rem;
      }
    }
  }
  .first {
    display: grid;
    font-size: 16px;
    .vote {
      display: grid;
      align-items: center;
      justify-content: left;
      grid-template-columns: 200px 200px;
      text-align: center;
      color: white;
      gap: 1rem;
      @media (max-width: 520px) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .likes {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      background-color: rgba(92, 92, 92, 0.205);
      border-radius: 0.5rem;
      padding: 0.1rem;
    }
    .score {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      background-color: rgba(218, 218, 218, 0.205);
      border-radius: 0.5rem;
      padding: 0.1rem 0.1rem;
    }
  }
  .second {
    height: 150px;
    overflow-y: scroll;
    text-overflow: ellipsis;
  }
}
