.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    display: grid;
  }
  .animation {
    position: absolute;
    top: 1000;
    left: 0;
    right: 0;
    bottom: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    .yoda {
      width: 15rem;
      height: 15rem;
    }
  }
}
