body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/herobg.png");
  // background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  h3,
  h4,
  h5 {
    color: white;
  }
}

code {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: azure;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: rgb(88, 88, 88);
  color: white;
  width: 50px;
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: white;
  }
}
.css-q8hpuo-MuiFormControl-root {
  label {
    color: aliceblue;
    ::selection {
      color: aliceblue;
    }
  }
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: rgb(88, 88, 88);
}
