body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/herobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  h3,
  h4,
  h5,
  .h3 {
    color: white;
  }
  .h3 {
    font-size: 1.17em;
  }
}

code {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: azure;
}
///mui select styling
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: rgb(88, 88, 88) !important;
  color: white !important;
  width: 50px !important;
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: white !important;
  }
}

.css-182didf.css-182didf.css-182didf {
  background-color: rgb(88, 88, 88) !important;
  color: white !important;
  width: 50px !important;
}

.MuiPagination-root.MuiPagination-text.css-1oj2twp-MuiPagination-root {
  display: flex !important;
  justify-content: center !important;
}
